<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AssigmentApp.Properties.Settings.assigmenttestConnectionString"
            connectionString="Data Source=assigmenttest.database.windows.net;Initial Catalog=assigmenttest;User ID=empoweradmin;Password=c8dgsynvW2gM6vH;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>